@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>

    @using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="FileUpload" />
        <input type="submit" name="Submit" id="Submit" value="Upload"/>
        
    }

</body>
</html>